<h3><%= "Employee Details for #{@employee.proper_name}"%></h3>

<br>
<p>
  <b>Date of Birth:</b> <%= @employee.date_of_birth.strftime("%m/%d/%y") %>
</p>

<p>
  <b>Phone:</b> <%= number_to_phone @employee.phone unless @employee.phone.nil? %>
</p>

<p>
	<% unless @employee.user.nil? %>
	<b>Email:</b> <%= @employee.user.email %>
	<% end %>
</p>

<p>
  <b>Role:</b> <%= @employee.role.capitalize %>
</p>

<p>
  <b>Active:</b> <%= @employee.active ? "Yes" : "No" %>
</p>
