  <%= simple_nested_form_for @store, :html => { :class => 'form-horizontal' } do |store_form| %>
    <div class="row">
      <div class="span7">
        <fieldset>
          <legend><%= controller.action_name.capitalize %> Store</legend>
          <%= render :partial => "store_fields", :locals => { :f => store_form } %>
        </fieldset>
      </div>

    <div class="span5">
      <legend>Flavors for this Store</legend>
        <div id="town_attractions">
          <%= store_form.simple_fields_for :flavors do |flavor_form| %>
            <%= render :partial => "flavor_fields", :locals => { :f => flavor_form } %>
          <% end %> 
          <p>
            <br /><%= store_form.link_to_add("Add Flavors", :flavors, :class => 'button tiny') %>
          </p>
        </div> 
      </div>
    </div>
    <div class="form-actions">
      <%= store_form.submit nil, :class => 'button radius' %>
      <%= link_to 'Cancel', stores_path, :class => 'button secondary' %>
    </div>
  <% end %>





<%= simple_form_for @store, html: { class: 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Store</legend>

    

    <div class="form-actions">
      <%= f.submit nil, :class => 'button radius' %>
      <%= link_to 'Cancel', stores_path, :class => 'button alert radius' %>
    </div>
  </fieldset>
<% end %>