<li><%= link_to "Home", home_path %></li>
<li><%= link_to "Stores", stores_path %></li>
<li><%= link_to "Employees", employees_path %></li>
<li><%= link_to "Upcoming Shifts", shifts_path %></li>
<li><div id="login"><%= link_to "LOGOUT", logout_path %></div></li>