<div class="row">
  <div class="small-8 columns">
 	<h4><%= "CURRENTLY ASSIGNED TO: #{current_user.employee.current_assignment.store.name.capitalize}" %><h4>
		<br><br>
  	<div id="more_info">
		<% if not  current_user.employee.current_assignment.nil?  || current_user.employee.shifts.upcoming.empty?%>
			<h4>Upcoming Shifts</h4>
			<table>
				<tr>
					<th>Date</th>
					<th>Start Time</th>
					<th>End Time</th>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
				</tr>
				<% @upcoming_shifts.each do |shift| %>
					<tr>
						<td><%= humanize_date shift.date %></td>
						<td><%= humanize_time shift.start_time %></td>
						<td><%= humanize_time shift.end_time %></td>
						<td><%= link_to(start_now_path(@upcoming_shifts.first), method: :post, remote: true, class: 'button radius') do %>
				&nbsp;<%= "Start Now" %>
			<% end %></td>
						<td><%= link_to(end_now_path(@upcoming_shifts.first), method: :post, remote: true, class: 'button radius') do %>
				&nbsp;<%= "End Now" %>
			<% end %></td>
					</tr>
				<% end %>
			</table>
		<% else %>
			<h5> There are no upcoming shifts! </h5>
		<% end %>
	</div>
  </div>
