<% if @shifts.empty? %>
  <p><em>There are no active shifts.</em></p>
<% else %>
  <h3>Current Shifts</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Employee</th>
        <th>Store</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @upcoming_shifts.each do |shift| %>
        <% if can? :read, shift %>
        <tr>
          <td><%= link_to shift.assignment.employee.name, employee_path(shift.assignment.employee) %></td>
          <td><%= shift.store.name %></td>
          <td><%= humanize_date shift.date %></td>
          <td><%= humanize_time shift.start_time.to_time %></td>
          <td><%= link_to "edit", edit_shift_path(shift), class: 'button small' %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @upcoming_shifts, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>

<% end %>